.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #dddbd8;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.active {
  text-decoration: underline;
}
